$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

// @import '~@fortawesome/fontawesome-free/css/brands';
// @import '~@fortawesome/fontawesome-free/css/fontawesome';
// @import '~@fortawesome/fontawesome-free/css/regular';
// @import '~@fortawesome/fontawesome-free/css/solid';
// @import '~@fortawesome/fontawesome-free/css/v4-shims';

@import '~normalize.css/normalize';
@import '~bulma/css/bulma.css';

body {
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  &::-webkit-scrollbar {
    width: 8px;
    &-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 6px;

      background-color: rgba(255, 255, 255, 0.1);
    }
    &-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      border: 4px solid rgba(0, 0, 0, 0);
      border-radius: 10px;

      background: #ccc;
      &:hover {
        background: #aaa;
      }
    }
  }
}
